{% extends "admin_panel_app/base.html" %}
{% load static %}

{% block title %}
    Управление персоналом
{% endblock %}

{% block body %}
    {#    <div style="width: 100%; display: flex; justify-content: center">#}
    {#        <img src="{% static 'admin_panel_app/icons/logo.png' %}" width="154px" height="70px">#}
    {#    </div>#}
    <div class="text-1" style="text-transform: uppercase">
        Управление персоналом
    </div>

    <div class="text-3-bold" style="text-transform: uppercase">
        Сотрудники
    </div>
    <div class="text-3-regular">
        Всего записей: {{ count_emp }}
    </div>
    <div class="text-3-regular">
        Сотрудников работает: {{ count_work_emp }}
    </div>
    <div class="text-3-regular">
        Сотрудников не работает: {{ count_not_work_emp }}
    </div>
    <div>
        <a href="{% url 'all_employee' %}">Редактирование</a>
        <a href="{% url 'new_employee' %}">Добавить</a>
    </div>

    <div class="text-3-bold" style="text-transform: uppercase">
        Управления
    </div>
    <div class="text-3-regular">
        Всего записей: {{ group_dep }}
    </div>
    <div class="text-3-regular">
        Управлений отображается: {{ group_dep_show }}
    </div>
    <div class="text-3-regular">
        Скрытые записи: {{ group_dep_not_show }}
    </div>
    <div>
        <a href="{% url 'all_groupdep' %}">Редактирование</a>
        <a href="{% url 'new_groupdep' %}">Добавить</a>
    </div>
    <div class="text-3-bold" style="text-transform: uppercase">
        Отделы
    </div>

    <div class="text-3-regular">
        Всего записей: {{ deps }}
    </div>
    <div class="text-3-regular">
        Отделов отображается: {{ deps_show }}
    </div>
    <div class="text-3-regular">
        Скрытые записи: {{ deps_not_show }}
    </div>
    <div>
        <a href="{% url 'all_dep' %}">Редактирование</a>
        <a href="{% url 'new_dep' %}">Добавить</a>
    </div>


    {#    {% for obj in det %}#}
    {#        {% if obj.photo %}#}
    {#            {{ obj.photo.url }}#}
    {#        {% endif %}#}
    {#    {% endfor %}#}

{% endblock %}

