{% extends "admin_panel_app/base.html" %}
{% load static %}
{% load service_tags %}

{% block title %}
    Выгрузка сотрудников
{% endblock %}

{% block body %}
    <div class="text-1">
        Выгрузка списка сотрудников
    </div>
    <div style="margin-top: 25px">
        <div id="city_checkboxes">
            {% include 'admin_panel_app/service/form_checkboxes/check_city.html' %}
        </div>
        <div id="group_dep_checkboxes"></div>
        <div id="command_checkboxes"></div>
        <div id="employees_checkboxes"></div>
        <div id="check_columns"></div>
        <div id="employees_table"></div>
    </div>



{% endblock %}

