{% extends "admin_panel_app/base.html" %}
{% load static %}

{% block title %}
    Добавить сотрудника
{% endblock %}

{% block body %}
    <div class="allign-center-admin">
        <div class="container-admin-panel">
            <div class="content-div">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col">
                            <div style="margin-bottom: 10px" id="name_form" data-ajax-url="{% url 'translate_name' %}">
                                <span class="text-3-regular" style="text-transform: uppercase">Фамилия:</span>
                                {{ emp_form.last_name }}
                                <span class="text-3-regular" style="text-transform: uppercase">Имя:</span>
                                {{ emp_form.first_name }}
                                <span class="text-3-regular" style="text-transform: uppercase">Отчество:</span>
                                {{ emp_form.middle_name }}
                                <span class="text-3-regular" style="text-transform: uppercase">Табельный номер:</span>
                                {{ emp_form.personnel_number }}
                                <span class="text-3-regular" style="text-transform: uppercase">Фотография:</span>
                                {{ more_details.photo }}
                            </div>
                        </div>
                        <div class="col">
                            <div style="margin-bottom: 10px">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase;">Имя пользователя:</span>
                                <input id="id_username" class="form-control" placeholder="Login" name="username">
                                <div id="username_not_free" data-ajax-url="{% url 'username_exists' %}"></div>
                                <div class="text-p-16">Пароль по умолчанию «Qwerty123!»</div>
                                <input class="form-control" placeholder="Login" name="password1" value="adminpas"
                                       hidden>
                                <input class="form-control" placeholder="Login" name="password2" value="adminpas"
                                       hidden>

                                {#                                {{ new_user.username }}#}

                                {#                                <span class="text-3-regular" style="text-transform: uppercase">Пароль:</span>#}
                                {#                                {{ new_user.password1 }}#}
                                {#                                <span class="text-3-regular" style="text-transform: uppercase">Повторить пароль:</span>#}
                                {#                                {{ new_user.password2 }}#}
                                <div id="divCheckPasswordMatch"></div>
                                <span class="text-3-regular" style="text-transform: uppercase">Внутренняя почта:</span>
                                <input class="form-control" placeholder="Внутренняя почта" name="email" type="email">
                                {#                                {{ new_user.email }}#}
                                <span class="text-3-regular" style="text-transform: uppercase">Внешняя почта:</span>
                                {{ more_details.outside_email }}
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 25px">
                        <div class="col">
                            <span class="text-3-regular" style="text-transform: uppercase">Город/подразделение:</span>
                            {{ more_details.city_dep }}
                            <span class="text-3-regular" style="text-transform: uppercase">Управление:</span>
                            {{ emp_form.department_group }}
                            <span class="text-3-regular" style="text-transform: uppercase">Отдел:</span>
                            {{ emp_form.department }}
                            <span class="text-3-regular" style="text-transform: uppercase">Должность:</span>
                            {{ emp_form.job_title }}
                            <div class="row" style="margin-top: 25px">
                                <div class="col">
                                    <span class="text-3-regular"
                                          style="text-transform: uppercase">Внутренний телефон:</span>
                                    {{ emp_form.user_phone }}
                                </div>
                                <div class="col">
                                    <span class="text-3-regular"
                                          style="text-transform: uppercase">Мобильный телефон:</span>
                                    {{ more_details.mobile_phone }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="text-3-regular"
                                          style="text-transform: uppercase">День рождения:</span>
                                    {{ more_details.date_birthday }}

                                </div>
                                <div class="col" style="display: flex; align-items: center">
                                    <span class="text-3-regular"
                                          style="text-transform: uppercase; margin-right: 15px">Показывать день рождения:</span>
                                    {{ more_details.date_birthday_show }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase">Кабинет:</span>
                                    {{ more_details.room }}
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row" style="margin-top: 25px">
                                <div class="col" style="display: flex; align-items: center">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase; margin-right: 15px">Возможность подписывать задания исходящие из отдела:</span>
                                    {{ emp_form.right_to_sign }}
                                </div>
                            </div>

                            <div class="row" style="margin-top: 25px">
                                <div class="col" style="display: flex; align-items: center">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase; margin-right: 15px">Возможность выдавать задания:</span>
                                    {{ emp_form.can_make_task }}
                                </div>
                            </div>

                            <div class="row" style="margin-top: 25px">
                                <div class="col" style="display: flex; align-items: center">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase; margin-right: 15px">Возможность редактировать задания:</span>
                                    {{ emp_form.check_edit }}
                                </div>
                            </div>

                            <div class="row" style="margin-top: 25px">
                                <div class="col" style="display: flex; align-items: center">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase; margin-right: 15px">ГИП (для корректного отображения меню):</span>
                                    {{ emp_form.cpe_flag }}
                                </div>
                            </div>

                            <div class="row" style="margin-top: 25px">
                                <div class="col" style="display: flex; align-items: center">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase; margin-right: 15px">Включить рассылку:</span>
                                    {{ emp_form.mailing_list_check }}
                                </div>
                            </div>

                            <div class="row" style="margin-top: 25px">
                                <div class="col" style="display: flex; align-items: center">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase; margin-right: 15px">Рассылка расчетных листков:</span>
                                    {{ more_details.send_email_salary_blank }}
                                </div>
                            </div>

                            <div class="row" style="margin-top: 25px">
                                <div class="col" style="display: flex; align-items: center">
                                <span class="text-3-regular"
                                      style="text-transform: uppercase; margin-right: 15px">Сотрудник работает:</span>
                                    {{ emp_form.work_status }}
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col" style="display: flex; justify-content: center">
                            <button id="submit_button" type="submit" class="button-primary-rusatom"
                                    style="width: 1200px">Создать
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function checkUserName() {
            console.log('input отработал')
            var url = $("#username_not_free").attr("data-ajax-url");
            var username = $('#id_username').val();

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'username': username
                },
                success: function (data) {
                    $("#username_not_free").html(data)
                }
            })
        }


        var username = document.getElementById('id_username')
        username.addEventListener("change", (event) => {
            checkUserName()
        });


        /*  var password2 = document.getElementById('id_password2')
          var password1 = document.getElementById('id_password1')
          password2.addEventListener("change", (event) => {
              verifyPassword()
          });
          password1.addEventListener("change", (event) => {
              verifyPassword()
          });


          function verifyPassword() {
              let pass1 = document.getElementById("id_password1").value;
              let pass2 = document.getElementById("id_password2").value;
              var submit_button = $("#submit_button");
              let match = true;
              if (pass1 != pass2) {
                  //alert("Passwords Do not match");
                  document.getElementById("id_password1").style.borderColor = "#ff0000";
                  document.getElementById("id_password2").style.borderColor = "#ff0000";
                  submit_button.attr('disabled', true);
                  match = false;
              } else {
                  document.getElementById("id_password1").style.borderColor = "#19a806";
                  document.getElementById("id_password2").style.borderColor = "#19a806";
                  submit_button.attr('disabled', false);
              }
              return match;
          } */


        var lastname = document.getElementById('id_last_name')
        lastname.addEventListener("change", (event) => {
            translateName()
        })

        var firstname = document.getElementById('id_first_name')
        firstname.addEventListener("change", (event) => {
            translateName()
        })

        var middlename = document.getElementById('id_middle_name')
        middlename.addEventListener("change", (event) => {
            translateName()
        })


        function translateName() {
            let last_name = document.getElementById('id_last_name').value
            let first_name = document.getElementById('id_first_name').value
            let middle_name = document.getElementById('id_middle_name').value
            if (last_name.length > 0 && first_name.length > 0 && middle_name.length > 0) {
                var login = last_name + first_name[0] + middle_name[0]

                var url = $("#name_form").attr("data-ajax-url");

                $.ajax({                       // формируем AJAX запрос
                    url: url,                    // подгружаем URL адрес для запроса
                    data: {
                        'str': login
                    },
                    success: function (data) {
                        document.getElementById('id_username').value = data.output_str
                        checkUserName()

                    }
                })
            } else {
                console.log('Username заполнен или ФИО не заполнены полностью')
            }
        }

    </script>
{% endblock %}