<div class="text-p-16-bold">Выберите отображаемые поля:</div>

<form method="POST" id="column_form" action="{% url 'get_employees_list' %}" style="margin-top: 15px">
    {% csrf_token %}
    {#    <div style="display: flex; flex-direction: column">#}

    <div class="input-flex-box">
        <input id="all-columns" class="input-flex" value="check-all" type="checkbox">
            <span class="text-p-16-bold" style="margin-left: 15px">Выбрать все</span>
    </div>
    <hr>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="14" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Login</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="1" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Фамилия имя отчество</span>>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="2" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Табельный номер</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="3" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Управление (сокращенное)</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="4" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Управление полное</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="5" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Номер отдела</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="6" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Название отдела</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="7" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Должность</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="8" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">День рождения</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="9" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Номер телефона внутренний</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="10" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Номер телефона внешний</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="11" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Почта внутренняя</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="12" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Почта внешняя</span>
    </div>

    <div class="input-flex-box">
        <input class="input-flex" name='column_checkbox' value="13" type="checkbox">
        <span class="text-p-16" style="margin-left: 15px">Кабинет</span>
    </div>

    <div style="display: flex">
        <input name='column_checkbox' value="10000" type="checkbox" checked hidden>
    </div>
    <div style="display: flex" hidden>
        Скрытое
    </div>
    {#    </div>#}

    <div style="display: flex; flex-direction: row; margin-top: 25px; gap: 1em">
        <div class="button-cancel-rusatom" style="width: 100px;cursor: pointer" onclick="backToEmpl()">Назад</div>
        <button class="button-primary-rusatom" id="form_column_button" disabled>Далее</button>
    </div>
</form>


<script>


    function backToEmpl() {
        $("#employees_checkboxes").show();
        $("#check_columns").hide();
    }


    var checkbox_column = document.querySelectorAll('input[name=column_checkbox]');
    var checkbox_column_all = document.getElementById('all-columns');

    checkbox_column_all.addEventListener('click', function () {
        if (checkbox_column_all.checked) {
            for (let i = 0; i < checkbox_column.length; i++) {
                checkbox_column[i].checked = true;
                $("#form_column_button").prop('disabled', false);
            }
        } else {
            for (let i = 0; i < checkbox_column.length; i++) {
                checkbox_column[i].checked = false;
                $("#form_column_button").prop('disabled', true);
            }

        }
    })

    for (let i = 0; i < checkbox_column.length - 1; i++) {
        checkbox_column[i].addEventListener("click", function () {
            for (var l = 0; l < checkbox_column.length - 1; l++) {
                if (checkbox_column[l].checked) {
                    $("#form_column_button").prop('disabled', false);
                    return;
                } else {
                    $("#form_column_button").prop('disabled', true);
                }
            }
        })
    }

    $('#column_form').submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var form_emp = $('#employee_form')
        var actionUrl = form.attr('action')
        console.log(form.serialize())
        console.log(form_emp.serialize())

        $.ajax({
            type: form.attr('method'),
            url: actionUrl,
            data: form.serialize() + form_emp.serialize(),
            success: function (data) {
                $("#check_columns").hide();
                $("#employees_table").show();
                $("#employees_table").html(data);

            }
        })

    })
</script>
