<div class="text-p-16-bold">Выберите сотрудников:</div>

<form method="POST" id="employee_form" action="{% url 'get_columns' %}" style="margin-top: 15px">
    {% csrf_token %}


    <div class="input-flex-box">
        <input id="all-emps" class="input-flex" value="check-all" type="checkbox">
        <span class="text-p-16-bold" style="margin-left: 15px">Выбрать все</span>

    </div>
    <hr>
    {% for emp in emps %}
        <div class="input-flex-box">
            <input class="input-flex" name='employee' value="{{ emp.id }}" type="checkbox">
            <span class="text-p-16" style="margin-left: 15px"> {{ emp }}</span>
        </div>
    {% endfor %}

    <div style="display: flex; flex-direction: row; margin-top: 25px; gap: 1em">
        <div class="button-cancel-rusatom" style="width: 100px;cursor: pointer" onclick="backToCommand()">Назад</div>
        <button class="button-primary-rusatom" id="form_employee_button" disabled>Далее</button>
    </div>
</form>


<script>
    function backToCommand() {
        $("#command_checkboxes").show();
        $("#employees_checkboxes").hide();
    }


    var checkbox_employee = document.querySelectorAll('input[name=employee]');
    var checkbox_employee_all = document.getElementById('all-emps');

    checkbox_employee_all.addEventListener('click', function () {
        if (checkbox_employee_all.checked) {
            for (let i = 0; i < checkbox_employee.length; i++) {
                checkbox_employee[i].checked = true;
                $("#form_employee_button").prop('disabled', false);
            }
        } else {
            for (let i = 0; i < checkbox_employee.length; i++) {
                checkbox_employee[i].checked = false;
                $("#form_employee_button").prop('disabled', true);
            }

        }
    })

    for (let i = 0; i < checkbox_employee.length; i++) {
        checkbox_employee[i].addEventListener("click", function () {
            for (var l = 0; l < checkbox_employee.length; l++) {
                if (checkbox_employee[l].checked) {
                    $("#form_employee_button").prop('disabled', false);
                    return;
                } else {
                    $("#form_employee_button").prop('disabled', true);
                }
            }
        })
    }

    $('#employee_form').submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var actionUrl = form.attr('action')

        $.ajax({
            type: form.attr('method'),
            url: actionUrl,
            data: form.serialize(),
            success: function (data) {
                $("#employees_checkboxes").hide();
                $("#check_columns").show();
                $("#check_columns").html(data);

            }
        })

    })
</script>
