<div class="text-p-16-bold">Выберите город:</div>

<form method="POST" id='city_form' action="{% url 'get_group_dep' %}" style="margin-top: 15px">
    {% csrf_token %}

    <div class="input-flex-box">
        <input id="all-city" class="input-flex" value="check-all" type="checkbox">
        <span class="text-p-16-bold" style="margin-left: 15px">Выбрать все</span>

    </div>
    <hr>
    {% for citi in cities %}
        <div class="input-flex-box">
            <input class="input-flex" name='city' value="{{ citi.id }}" type="checkbox">
            <span class="text-p-16" style="margin-left: 15px">{{ citi }}</span>
        </div>
    {% endfor %}


    <div style="display: flex; flex-direction: row; margin-top: 25px; gap: 1em">
        {#        <div class="button-primary-rusatom" style="width: 100px"> Отмена</div>#}
        <button style="display: flex" class="button-primary-rusatom" id="form_city_button" disabled>Далее</button>
    </div>
</form>

<div id="inbox"></div>


<script>
    var checkbox_city = document.querySelectorAll('input[name=city]');
    var checkbox_city_all = document.getElementById('all-city');

    checkbox_city_all.addEventListener('click', function () {
        if (checkbox_city_all.checked) {
            for (let i = 0; i < checkbox_city.length; i++) {
                checkbox_city[i].checked = true;
                $("#form_city_button").prop('disabled', false);
            }
        } else {
            for (let i = 0; i < checkbox_city.length; i++) {
                checkbox_city[i].checked = false;
                $("#form_city_button").prop('disabled', true);
            }

        }
    })

    for (let i = 0; i < checkbox_city.length; i++) {
        checkbox_city[i].addEventListener("click", function () {
            for (var l = 0; l < checkbox_city.length; l++) {
                if (checkbox_city[l].checked) {
                    $("#form_city_button").prop('disabled', false);
                    return;
                } else {
                    $("#form_city_button").prop('disabled', true);
                }
            }
        })
    }

    $('#city_form').submit(function (e) {
            var checkbox = document.querySelectorAll('input[name=city]');
            console.log(checkbox)

            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    $("#city_checkboxes").hide();
                    $("#group_dep_checkboxes").html(data);
                    $("#group_dep_checkboxes").show();

                }
            })
        }
    )
    ;
</script>
