{% load static %}
{% load phonebook_tags %}
<div class="content-fade" style="margin-top: 25px">
    <input id="hidden_input" value="{{ count }}" hidden>
    <div class="list-emp" id="list-emp">
        {% for emp in employees %}
            <div class="element_full" onclick="onClickDetailView({{ emp.id }})">
                <div style="justify-content: center; align-items: center">
                    <img class="b-img-radius" src="{% get_photo_url emp.id %}" style="height: 170px">
                </div>
                <div style=" width: 100%; text-align: left; margin-left: 10px">
                    <div class="text-p-14-bold-card">{{ emp.last_name }}</div>
                    <div class="text-p-14-card">{{ emp.first_name }} {{ emp.middle_name }}</div>
                    <div class="text-p-14-card" hidden>{{ emp.user_phone }}</div>
                    <div class="text-p-14-card" hidden>{{ emp.department.command_number }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function mySearchFunction() {
        // Объявить переменные
        var input, filter, table, tr, td, td_1, td_2, td_3, i, txtValue, txtValue2, txtValue3, txtValue4, list_emp, element, count;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        list_emp = document.getElementById("list-emp");
        element = list_emp.getElementsByClassName("element_full");
        {#console.log(element)#}
        count = document.getElementById("hidden_input").value
        {#console.log(count)#}

        // Перебирайте все строки таблицы и скрывайте тех, кто не соответствует поисковому запросу
        for (i = 0; i < count; i++) {
            td = element[i].getElementsByClassName("text-p-14-bold-card")[0];
            td_1 = element[i].getElementsByClassName("text-p-14-card")[0];
            td_2 = element[i].getElementsByClassName("text-p-14-card")[1];
            td_3 = element[i].getElementsByClassName("text-p-14-card")[2];
            if (td || td_1 || td_2) {
                txtValue = td.textContent || td.innerText;
                txtValue2 = td_1.textContent || td_1.innerText;
                txtValue3 = td_2.textContent || td_2.innerText;
                txtValue4 = td_3.textContent || td_3.innerText;
                if ((txtValue.toUpperCase().indexOf(filter) > -1) || (txtValue2.toUpperCase().indexOf(filter) > -1) ||
                (txtValue3.toUpperCase().indexOf(filter) > -1) || (txtValue4.toUpperCase().indexOf(filter) > -1))
                {
                    {#if ((txtValue.toUpperCase().indexOf(filter) > -1)) {#}
                    element[i].style.display = "";
                }
            else
                {
                    element[i].style.display = "none";
                }
            }
        }
    }

    document.addEventListener("DOMContentLoaded", mySearchFunction());
</script>