{% if username_back %}
    <span class="text-attention">Это имя уже занято</span>
    <script>
        var submit_button = $("#submit_button");
        document.getElementById("id_username").style.borderColor = "#ff0000";
        submit_button.attr('disabled', true);
    </script>
{% else %}
    <script>
        var submit_button = $("#submit_button");
        document.getElementById("id_username").style.borderColor = "#19a806";
        submit_button.attr('disabled', false);
    </script>
{% endif %}