.button-index {
    font-family: "p22_underground_cy_prodemi", serif;
    text-transform: uppercase;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    transition: all .05s ease-in-out;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.button-index:hover {
    scale: 110%;
    border-radius: 15px;
    text-align: center;
    background-color: black;
    color: white;
}


.button-edit-profile {
    font-family: "p22_underground_cy_prodemi", serif;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    transition: all .3s ease-in-out;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.button-edit-profile:hover {
    border-radius: 15px;
    text-align: center;
    background-color: black;
    color: white;
}

.button-search {
    font-family: "p22_underground_cy_probook", serif;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #0a53be;
    background-color: #0a53be;
    transition: all .2s ease-in-out;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);
}

.button-search:hover {
    text-align: center;
    border: 2px solid #074094;
    background-color: #074094;
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.2);
}

.button-success {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #5FAD05;
    background-color: #5FAD05;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-success:hover {
    border-radius: 6px;
    text-align: center;
    background-color: #559b05;
    border: 2px solid #559b05;
    color: white;
    /*scale: 1.05;*/
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}


.button-primary-rusatom {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 0px solid #4480F3;
    background-color: #4480F3;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-primary-rusatom:hover {
    border-radius: 6px;
    text-align: center;
    background-color: #3b6ed2;
    border: 0px solid #3b6ed2;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);*/
}


.button-primary-rusatom:disabled {
    border-radius: 6px;
    text-align: center;
    background-color: #3b6ed2;
    border: 0px solid #3b6ed2;
    color: white;
    opacity: 0.32;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);*/
}

.button-primary-rusatom:hover:disabled {
    border-radius: 6px;
    text-align: center;
    background-color: #3b6ed2;
    border: 0px solid #3b6ed2;
    color: white;
    opacity: 0.25;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);*/
}

.dropdown-primary-rusatom-item {
    cursor: context-menu;
}


.button-primary-rusatom-v2 {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 0;
    border-left: 1px solid #eaeaea;
    background-color: #4480F3;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-primary-rusatom-v2:hover {
    border-radius: 6px;
    text-align: center;
    background-color: #3b6ed2;
    /*border: 0px solid #3b6ed2;*/
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);*/
}


.pdf_button {
    font-family: "p22_underground_cy_probook", serif;
    border-radius: 6px;
    text-align: center;
    border: 0px solid #E35454;
    background-color: #E35454;
    color: white;
    width: 120px;
    opacity: 0.32;
}

.pdf_button:hover {
    font-family: "p22_underground_cy_probook", serif;
    /*border-radius: 25px;*/
    text-align: center;
    background-color: #d34e4e;
    border: 0px solid #d34e4e;
    color: white;
    opacity: 1;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);*/
}

.pdf_button_icon {
    box-sizing: content-box;
    /*padding: .25em .25em;*/
    margin-top: 3px;
    mask-image: url('../icons/filetype-pdf.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background: #000;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0px;
    height: 40px;
    /*width: 10px;*/
    padding-left: 16px; /* Or size of icon + spacing */
    opacity: .5;
    transition: all .1s ease-in-out;
}

.pdf_button_icon:hover {
    background: #E35454;
    text-decoration: none;
    opacity: 1
}


.exel_button_icon {
    box-sizing: content-box;
    /*padding: .25em .25em;*/
    margin-top: 3px;
    mask-image: url('../icons/filetype-xls.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background: #000;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0px;
    height: 40px;
    /*width: 10px;*/
    padding-left: 16px; /* Or size of icon + spacing */
    opacity: .5;
    transition: all .1s ease-in-out;
}

.exel_button_icon:hover {
    background: #5FAD05;
    text-decoration: none;
    opacity: 1
}


.button-danger-rusatom {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 0px solid #E35454;
    background-color: #E35454;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-danger-rusatom:hover {
    /*border-radius: 8px;*/
    text-align: center;
    background-color: #d34e4e;
    border: 0px solid #d34e4e;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);*/
}


.button-danger-rusatom-border {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #E35454;
    background-color: #E35454;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-danger-rusatom-border:hover {
    /*border-radius: 8px;*/
    text-align: center;
    background-color: #d34e4e;
    border: 2px solid #d34e4e;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);*/
}


.button-cancel {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #80858E;
    background-color: white;
    transition: all .3s ease-in-out;
    color: black;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-cancel:hover {
    border-radius: 8px;
    text-align: center;
    background-color: #72767e;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}

.button-cancel-fill {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 0px solid #80858E;
    background-color: #80858E;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-cancel-fill:hover {
    text-align: center;
    background-color: #5e6167;
    border: 0px solid #5e6167;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}

.button-cancel-fill-border {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #80858E;
    background-color: #80858E;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-cancel-fill-border:hover {
    text-align: center;
    background-color: #5e6167;
    border: 2px solid #5e6167;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}


.button-cancel-rusatom {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 0px solid rgba(68, 128, 243, 0.12);
    background-color: rgba(68, 128, 243, 0.12);
    transition: all .1s ease-in-out;
    color: #4480F3;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-cancel-rusatom:hover {
    border-radius: 6px;
    text-align: center;
    background-color: rgba(68, 128, 243, 0.08);
    color: #4480F3;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}


.button-cancel-rusatom {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 0px solid rgba(68, 128, 243, 0.12);
    background-color: rgba(68, 128, 243, 0.12);
    transition: all .1s ease-in-out;
    color: #4480F3;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-cancel-rusatom:hover {
    border-radius: 6px;
    text-align: center;
    background-color: rgba(68, 128, 243, 0.08);
    color: #4480F3;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}

.button-cancel-a {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #7c7c7c;
    background-color: white;
    transition: all .3s ease-in-out;
    color: black;
    text-decoration: none;
    cursor: context-menu;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.button-cancel-a:hover {
    border-radius: 8px;
    text-align: center;
    background-color: #80858E;
    color: white;
    box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);
}

.button-warning {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #D1AE00;
    background-color: #D1AE00;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-warning:hover {
    border-radius: 8px;
    text-align: center;
    background-color: #bd9d00;
    border: 2px solid #bd9d00;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}

.button-primary {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #074094;
    background-color: white;
    transition: all .3s ease-in-out;
    color: #074094;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-primary:hover {
    border-radius: 6px;
    text-align: center;
    background-color: #074094;
    border: 2px solid #074094;
    color: white;
    box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);
}

.button-danger {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #c50000;
    background-color: white;
    transition: all .3s ease-in-out;
    color: #c50000;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-danger:hover {
    border-radius: 8px;
    text-align: center;
    background-color: #c50000;
    border: 2px solid #c50000;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}


.icon-edit {
    box-sizing: content-box;
    padding: .25em .25em;
    mask-image: url('../icons/gear.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background: #000;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0px;
    height: 21px;
    padding-left: 16px; /* Or size of icon + spacing */
    opacity: .5;
    transition: all .1s ease-in-out;
}

.icon-edit:hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}


.button-primary-rusatom-admin {
    display: flex;
    font-family: "p22_underground_cy_prodemi", serif;
    /*text-transform: uppercase;*/
    font-size: 13px;
    border-radius: 6px;
    text-align: center;
    border: 0px solid #4480F380;
    background-color: #4480F380;
    transition: all .1s ease-in-out;
    color: white;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
}

.button-primary-rusatom-admin:hover {
    border-radius: 6px;
    text-align: center;
    background-color: #4480F3;
    border: 0px solid #4480F3;
    color: white;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);*/
}


.button-cancel-rusatom {
    font-family: "p22_underground_cy_probook", serif;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    border: 0px solid rgba(68, 128, 243, 0.12);
    background-color: rgba(68, 128, 243, 0.12);
    transition: all .1s ease-in-out;
    color: #4480F3;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-cancel-rusatom:hover {
    border-radius: 6px;
    text-align: center;
    background-color: rgba(68, 128, 243, 0.08);
    color: #4480F3;
    /*box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.2);*/
}


.pdf_button_icon {
    box-sizing: content-box;
    /*padding: .25em .25em;*/
    margin-top: 3px;
    mask-image: url('../icons/filetype-pdf.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background: #000;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0px;
    height: 40px;
    /*width: 10px;*/
    padding-left: 16px; /* Or size of icon + spacing */
    opacity: .5;
    transition: all .1s ease-in-out;
}

.pdf_button_icon:hover {
    background: #E35454;
    text-decoration: none;
    opacity: 1
}


.exel_button_icon {
    box-sizing: content-box;
    /*padding: .25em .25em;*/
    margin-top: 3px;
    mask-image: url('../icons/filetype-xls.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background: #000;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0px;
    height: 40px;
    /*width: 10px;*/
    padding-left: 16px; /* Or size of icon + spacing */
    opacity: .5;
    transition: all .1s ease-in-out;
}

.exel_button_icon:hover {
    background: #5FAD05;
    text-decoration: none;
    opacity: 1
}